    /* สีลิงก์ */
    a {
        color: #007bff; /* เปลี่ยนสีลิงก์ตามต้องการ */
        text-decoration: none; /* ลบเส้นใต้ลิงก์ */
    }
    /* สีลิงก์เมื่อนำเมาส์ผ่าน */
    a:hover {
        color: #0056b3; /* เปลี่ยนสีเมื่อนำเมาส์ผ่าน */
        text-decoration: none; /* ลบเส้นใต้ลิงก์ */
    }